body {
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

input{
    margin:1%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.post {
    border-radius: 5px;
    background-color: #eee;
    padding: 20px 5px;
}

button {
    color: white;
    background-color: #4791d0;
    border-radius: 5px;
    border: 1px solid #4791d0;
    padding: 5px 10px 8px 10px;
}

button:hover {
    background-color: #0F5897;
    border: 1px solid #0F5897;
}

#search-inputAuthor {
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px;
}

#search-inputTitle {
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px;
}

#search-inputBody {
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px;
}

#stage{
    background: #ccc;
    height: 400px;
    position: relative;
    width: 1200px;
}
#page_nav li{
    display: inline-block;
    list-style: none;
    padding: 5px;
}
#page_nav li a{
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

#page_info{
    display: block;
    border: solid #ccc;
    margin: 5px;
    padding: 5px;
}
#curr_page{
    font-weight: bold;
}
#page_nav{
    border: solid #ccc;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
#page_input{
    width: 5%;
}